<div class="container-fluid">
  <div class="col">
    <div class="col-sm-2">
      <%= render "shared/sidenav" %>

    </div>
    <div class="col-sm-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <% if teacher_logged_in? %><h3 class="panel-title">成绩管理: <%=@course.name%></h3><% end %>
          <% if student_logged_in? %><h3 class="panel-title">成绩列表</h3><% end %>
        </div>
        <div class="panel-body" style="min-height: 450px">
          <table class="table table-striped table-hover">
            <thead>

            <tr>
              <th>学号</th>
              <th>名字</th>
              <th>专业</th>
              <th>培养单位</th>
              <th>课程</th>
              <th>目前分数</th>

            </tr>
            </thead>
            
             <!-- gaolu16增加成绩统计功能--->
             <% if teacher_logged_in? %>
<div class="row clearfix">
		<div class="col-md-12 column">
			
			</div> <a id="modal-164386" href="#modal-container-164386" role="button" class="btn" onclick="draw_grades()" data-toggle="modal">成绩分布</a>
			<div class="modal fade" id="modal-container-164386" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						</div>
           <div id="grade_student" style="width: 600px;height:400px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>
            
            
            <tbody>
           
            <% @grades.each do |grade| %>
            
                <tr>
                  
                  <% if grade.favorite==false %>
                  <td><%= grade.user.num %></td>
                  <td><%= grade.user.name %></td>
                  <td><%= grade.user.major %></td>
                  <td><%= grade.user.department %></td>
                  <td><%= grade.course.name %></td>
                  <td><%= grade.grade %></td>
                  <% if teacher_logged_in? %>
                      <%= form_for grade, url: grade_url(id: grade.id, course_id: grade.course.id), method: :patch do |f| %>
                          <td><%= f.text_field :grade %></td>
                          <td><%= f.submit "提交", class: "btn btn-success btn-xs" %></td>
                      <% end %>
                  <% end %>
                  <% end %>
                </tr>
                
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!--gaolu16-->
<!--增加成绩统计功能-->
<script type="text/javascript">
 function draw_grades(){
          // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('grade_student'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '学生成绩分布'
            },
            tooltip: {},
              toolbox: {
              show: true,
              feature: {
                  dataView: {readOnly: false},
                  saveAsImage: {}
              }
          },
            legend: {
                data:['人数']
            },
            xAxis: {
                data: ["100-90","90-80","80-70","70-60","60以下"]
            },
            yAxis: {},
            series: [{
                name: '人数',
                type: 'bar',
                data: <%=@our_grade%>
            }],
        };
        myChart.setOption(option);
        }
    </script>
